<template>
  <section class="container">
    <b-modal :active.sync="fireworkModal">
      <h2 class="winMessage">You winned {{complexWin}} credits!</h2>
      <video controls width="80%" height="80%" autoplay loop preload="auto">
        <source src="/fireworks.webm" type="video/webm" />
      </video>
    </b-modal>
    <div class="info-bar">
      <span>Credits: {{balance}}</span>
      <span v-if="payouts.length > 0">Win: {{ complexWin }}</span>
      <b-field label="Play lines:">
        <b-select v-model="playLineCount">
          <option v-for="bet in playLineCounts" :value="bet" :key="bet">{{bet}}</option>
        </b-select>
      </b-field>
      <b-field label="Win coefficient:">
        <b-select v-model="betPerLineIndex">
          <option v-for="(bet, index) in betsPerLines" :value="index">{{bet}}</option>
        </b-select>
      </b-field>
    </div>
    <nav class="navbar">
      <template v-for="(line, index) in lines" >
        <b-tooltip :label="String(payouts[index])" :active="win_hover_line === index" always>
          <span v-if="index < playLineCount" :class="{'line-num': true, 'has-background-danger': hovered_line === index, 'has-background-info': win_hover_line === index}"
                @click="hovered_line = hovered_line === index ?  -1 : index">{{index+1}}</span>
        </b-tooltip>
      </template>
    </nav>
    <div class="game">
      <template v-for="(index,i) in stopreel">
        <span class="symbol-wrapper">
        <b-icon :icon="'mdi '+reelsymbols[index-1]" :title="reelsymbols[index]" size="is-large" custom-size="mdi-48px"
                :type="reelSymbolStatus(i)"></b-icon>
        </span>
        <br v-if="(i + 1) % 3 === 0" />
      </template>
    </div>
    <button class="button is-primary" @click="sendBet()">Place bet</button>
  </section>
</template>

<script>
  export default {
    name: 'app',
    data () {
      return {
        msg: 'Welcome to Your Vue.js App',
        balance: 0,
        stopreel: [2, 3, 5, 6, 7, 4, 4, 5, 7],
        reelCount: 3,
        reelsymbols: ['mdi-numeric-1-box', 'mdi-numeric-2-box', 'mdi-numeric-3-box', 'mdi-numeric-4-box', 'mdi-numeric-5-box',
          'mdi-numeric-6-box', 'mdi-numeric-7-box', 'mdi-numeric-8-box', 'mdi-numeric-9-box', 'mdi-coin', 'mdi-gauge' ],
        playLineCounts: [3, 4, 5],
        playLineCount: 2,
        lines: [[0, 1, 0], [2, 1, 0] ],
        betsPerLines: [0.2],
        betPerLineIndex: 0,
        hovered_line: -1,
        payouts: [],
        win_hover_timer: null,
        win_hover_line: -1,
        complexWin: 0,
        fireworkModal: false
      }
    },
    created() {
      let data = {cmd: 'enter' };
      this.sendCommand(data, this.enter);
    },
    methods: {
      sendCommand(data, action) {
        let url = '/api/game/';
        $.ajax({
          url: url, data: data, method: "GET", success: action, error: this.error
        });
      },
      enter(data) {
        this.info("Welcome to the game!");
        let params = this.toDict(data);
        console.log(data);
        console.log(params);

        this.betsPerLines = params.betsPerLines;

        this.playLineCounts = params.playLineCounts;
        this.playLineCount = this.playLineCounts[0];
        console.log(params.lines);
        this.lines = [];
        this.reelCount = params.reelCount;
        for (let i=0; i + params.reelCount <= params.lines.length; i+= params.reelCount) {
          let row = params.lines.slice(i, i+params.reelCount);
          for (let j=0; j < row.length; j++) {
            row[j] = (this.reelCount)*row[j] + j;
          }
          console.log(row);

          this.lines.push(row);
        }
        this.balance = params.balance;
      },
      sendBet() {
        let bet = this.betsPerLines[this.betPerLineIndex];
        let data = {cmd: "placebet", playLineCount: this.playLineCount, betPerLine: bet};
        this.sendCommand(data, this.betResult);
      },
      betResult(data) {
        console.log(data);
        let params = this.toDict(data);
        console.log(params);
        this.balance = params.balance;
        this.complexWin = params.win;
        if (this.complexWin >= 20) {
          this.fireworkModal = true;
        }
        this.stopreel = params.stopreel;
        this.payouts = params.payout;
        if (this.win_hover_timer !== null) {
          clearInterval(this.win_hover_timer);
        }
        this.info("You winned " + (this.complexWin) + "!");
        this.firstNonZeroPayout();
        this.win_hover_timer = setInterval(this.firstNonZeroPayout, 1000);
      },
      firstNonZeroPayout() {
        let i = 1;
        while (true) {
          let j = this.win_hover_line + i;
          if (j >= this.payouts.length) {
            j -= this.payouts.length;
          }
          if (this.payouts[j] > 0 && j !== this.win_hover_line) {
            this.win_hover_line = j;
            break;
          }
          if (i === this.payouts.length) {
            this.win_hover_line = -1;
            break;
          }
          i++;
        }
      },
      error(data) {
        this.$toast.open({position: "is-top", message: data, type: "is-danger"});

      },
      info(data) {
        this.$toast.open({position: "is-top", message: data, type: "is-info"});

      },
      reelSymbolStatus(index) {
        if (this.win_hover_line !== -1 && this.lines[this.win_hover_line].includes(index)) {
          return 'is-info';
        } else if (this.hovered_line !== -1 && this.lines[this.hovered_line].includes(index)) {
          return 'is-danger';
        } else {
          return 'is-success';
        }
      },
      toDict(paramLine) {
        let params = {};
        for (let pair of paramLine.split("&")) {
          if (pair.split("=").length > 1) {
            let pname = pair.split("=")[0];
            let pvalue = pair.split("=")[1];
            if (pvalue.split("|").length > 1) {
              let row = [];
              for (let el of pvalue.split("|")) {
                if (el.match(/^\d+$/)) {
                  row.push(parseInt(el));
                } else {
                  row.push(el);
                }
              }
              params[pname] = row;
            } else {
              if (pvalue.match(/\d+/)) {
                params[pname] = parseInt(pvalue);
              } else {
                params[pname] = pvalue;
              }
            }
          }
        }
        return params;
      },
      range(start, end) {
        return Array(end - start + 1).fill().map((_, idx) => start + idx);
      }
    },
    computed: {
      totalPayout() {
        let res = 0;
        for (let payout of this.payouts) {
          res += payout;
        }
        return res - this.playLineCount;
      }
    }
  }
</script>

<style lang="scss">
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .winMessage {
    color: gold;
    text-shadow: #ffa088;
    font-size: 36pt;
  }
  .line-num {
    color: dodgerblue;
    background-color: beige;
    //border: 1px solid darkgreen;
    border-radius: 5px;
    padding: 2px;
    cursor: pointer;
    padding: 5px 10px;
  }
  .symbol-wrapper {
    padding: 20px 10px;
  }
  .info-bar {
    position: fixed;
    left: 50px;
    top: 50px;
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;

  }
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }

  h1, h2 {
    font-weight: normal;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: #42b983;
  }
</style>
